/* General list styling */
nav ul {
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}


/* image */
nav ul li img {
    height: 40px;
    position: relative;
    top: 4px;
}

/* Restaurant text */
.nav-resto {
    margin: 15px 0px 0px 60px;
    padding: 25px;
    color: #101A24;
    font-weight: bolder;
    font-size: 25px;

}

/* other pages (home..) */
.nav {
    padding: 20px;
    margin: 45px 0px;
    font-size: 15px;

}

.nav li {
    padding: 0px 20px;
    color: #101A24;
}

.nav li a {
    text-decoration: none;
    color: #101A24;
}

.nav li:hover {
    text-decoration: underline;
    font-weight: bolder;
}

/* BUTTON  */
.book button {
    margin: 45px 0px;
    height: 64px;
    width: 167px;
    border-radius: 15px 4px;
    background-color: #EA7727;
    color: rgb(245, 238, 222);
    font-weight: bolder;
    font-size: 18px;
}

/* Menu Button */
.menu {
    width: 10px;
    height: 50px;
}


/************************ MEDIA QUERIES ******************************/

@media only screen and (max-width:1000px) {
    .nav-resto {
        margin: 15px 0px 0px 0px;
        padding: 25px;
    }
}

@media only screen and (max-width:800px) {
    .nav-resto {
        margin: 15px 0px 0px 0px;
        padding: 25px 0px;
    }

    .nav {
        padding: 20px 0px;
        margin: 45px 0px;
        font-size: 15px;

    }

    .nav li {
        padding: 0px 10px;
        color: #101A24;
    }

    .book button {
        font-size: 16px;
        margin: 45px 0px;
        height: 50px;
        width: 120px;

    }
}

@media only screen and (max-width:580px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-resto {
        margin: 5px 0px 0px 0px;
        padding: 0px 0px;
    }

    .nav {
        padding: 20px 0px;
        margin: 15px 0px;
    }
    .book button{
        margin: 0;
    }
}